.features {
	@extend %section;

	&__list {
		@extend %list;
			padding: 0;
			margin: 0;

		@media screen and (min-width: 768px) {
			display: flex;
			flex-wrap: wrap;
			gap: 30px;

		}

		@media screen and (min-width: 1200px) {
			align-items: start;
			flex-wrap: nowrap;
		}
	}

	&__item {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}

		@media screen and (min-width:768px) {
			width: 354px;
			margin-bottom: 0;
		}

		@media screen and (min-width:1200px) {
			width: 270px;
		}
	}

}

.features__icon-container {
	display: flex;
	//width: 270px;
	height: 120px;

	margin-bottom: 30px;
	background-color: $primary-bg-color;
	border-radius: 4px;
}

.features__icon {
	display: block;

	width: 70px;
	height: 70px;
	margin: auto;
	border: none;
}

.features__title {
	margin-top: 0;
	margin-bottom: 10px;
	color: $title-text-color;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	text-transform: uppercase;

	@media screen and (min-width:768px) {
		text-align: left;
}
}

.features__text {
	margin-top: 0;
	margin-bottom: 0;

	font-size: 14px;
	line-height: 1.71;
}