.address__list {
	padding: 0;
	margin-top: 0;
	margin-bottom: 60px;
	//width: 231px;
	font-family: $main-font;
	font-size: 14px;
	line-height: 1.71;
	font-style: normal;
	list-style: none;

	@media screen and (min-width: 1200px) {
		width: 231px;
		margin-bottom: 0;
		}
}

.address__link {
	color: $primary-white;
	text-decoration: none;
	transition: color $duration-function $timing-function;

	&:hover,
	&:focus {
		color: $accent-color;
	}
}

.address__link--contacts{
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
	transition: color $duration-function $timing-function;

	&:hover,
	&:focus {
	color: $accent-color;
	}
}
