.social {
	display: flex;
	flex-direction: column;
	
	@media screen and (min-width:1200px) {
		display: flex;
		flex-direction: column;
		margin-right: auto;
}
}

.social__title {
	margin: 0 0 20px;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;

	color: $primary-white;
}

.social__list--footer {
	display: flex;
	padding: 0;
	margin-bottom: 60px;
	gap: 10px;
	list-style: none;
	justify-content: center;

	@media screen and (min-width:1200px) {
		align-items: start;
		margin-bottom: 0;
	}
}


.social__links--footer{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	background: rgba(255, 255, 255, 0.1);
	color: $primary-white;
	
	border-radius: 50%;
	
	transition: background-color $duration-function $timing-function;

	&:hover,
	&:focus {
		background-color: $accent-color;
	}
}

.social__icon{
	fill: currentColor;
	cursor: pointer;
}