.menu-toggle {
	display: inline-flex;
	margin: 0;
	padding: 12px 8px;
	width: 40px;
	height: 40px;
	border: none;
	background-color: transparent;
	cursor: pointer;

	&:hover,
	&:focus {
		color: $accent-color;
	}

	&__icon {
		fill: currentColor;
}

@media screen and (min-width: 768px) {
	display: none;
}
}

.menu-button__cross {
	display: none;
}

.is-open .menu-button__cross {
  display: block;
}

.is-open .menu-button__open {
  display: none;
}

.menu-container {
	position: fixed;
	top: 0;
	left: 0;
	width:	 100vw;
	height: 100vh;

	background-color: $primary-white;
	padding: 48px 40px;
	z-index: 999;

	transform: translateX(100%);
	transition: transform $duration-function $timing-function;

	@media screen and (max-width: 767px) {
    &.is-open {
      transform: translate(0);
    }

	@media screen and (min-width: 768px) {
    display: none;
  }
}
}

.menu-button__cross{
	position: absolute;
	top: 10px;
	right: 15px;
}

.mobile-menu {
	@extend %list;
	padding: 0;
	margin-bottom:auto;

	&__item {
		margin-bottom: 32px;

		@media screen and (max-width: 459px) {
				margin-bottom: 16px;
		}
	}

	&__link {
		font-size: 40px;
		font-weight: 500;
		line-height: 1.17;
		letter-spacing: 0.02em;
		text-decoration: none;
		color: $title-text-color;

		transition: color $duration-function $timing-function;

		&:hover,
		&:focus {
			color: $accent-color;
		}

		&--current {
			color: $accent-color;
		}

		@media screen and (max-width: 459px) {
			font-size: 32px;
	}
}
}

.contacts-menu {
	@extend %list;
	padding: 0;
	margin-bottom: 32px;

		&__item {
			margin-bottom: 32px;
		}

		&__tel {
			font-weight: 500;
			font-size: 24px;
			line-height: 1.18;
			letter-spacing: 0.02em;
			color: $accent-color;
			text-decoration: none;

			&:hover,
			&:focus {
				color: $accent-color;
			}

			@media screen and (min-width:459px) {
				font-size: 34px;
			}
		}
			 
			&__mail {
				font-weight: 500;
				font-size: 24px;
				line-height: 1.17;
				letter-spacing: 0.02em;
				color: $primary-text-color;
				text-decoration: none;

				&:hover,
				&:focus {
					color: $accent-color;
				}
			}
}

.social-menu {
	display: flex;
	padding: 0;
	justify-content: start;
	flex-wrap: wrap;
	list-style: none;
	row-gap: 10px;

	&__item {
			border-right: 1px solid rgba(33, 33, 33, 0.2);
			padding-right: 10px;
			margin-right: 10px;
			
			&:last-child {
					border: none;
			}

			&:first-child {
					padding-left: 0;
			}
	}
	
	&__link {
			font-weight: 500;
			font-size: 12px;
			line-height: 1.22;
			letter-spacing: 0.02em;
			color: $accent-color;
			text-decoration: none;
	
			@media screen and (min-width:460px) {
					font-size: 18px;
			}
	}
}
